@mixin flex() {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.sidebar {
	width: 17rem;
	height: 100vh;
	padding: 0;
	align-items: flex-start;
	position: fixed;
	top: 2.83625rem;
	overflow-y: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
	background-color: #f0f9ff;
	.material-symbols-outlined {
		color: #000;
	}
	ul {
		@include flex;
		flex-direction: column;
		list-style-type: none;
		padding: 0;
		padding-left: 2.5rem;
		align-items: flex-start;
		width: 100%;
		li {
			width: 100%;
			.sidebar__link {
				color: #000;
				width: 100%;
				height: 100%;
				position: relative;
			}
			.sidebar__link__category-info {
				width: 100%;
				padding: 0.5rem 0 0.5rem 0.625rem;
				position: relative;
				color: #000;
			}
			div {
				@include flex;
				align-items: center;
				padding: 0.1rem;
				margin-right: 0.25rem;
				&:hover {
					background-color: #eee;
					border-radius: 0.25rem;
				}
			}
			.inbox {
				.material-symbols-outlined {
					color: #67e8f9;
				}
			}
			.today {
				.material-symbols-outlined {
					color: #6ee7b7;
				}
			}
			.upcoming {
				.material-symbols-outlined {
					color: #c4b5fd;
				}
			}
			.tasks {
				.material-symbols-outlined {
					color: #fca5a5;
				}
			}
			.filter {
				.material-symbols-outlined {
					color: #d4d4d4;
				}
			}
			.categories {
				@include flex;
				width: 95%;
				padding: 0;
				height: 1.5rem;
				margin-top: 1rem;
				margin-bottom: 0.5rem;
				.categories__right {
					width: 100%;
					height: 1.5rem;
					&:hover {
						background-color: transparent;
					}
				}
				.categories__heading {
					font-size: 0.96rem;
					margin: 0;
					margin-bottom: 0.25rem;
				}
				.categories__add {
					margin-left: auto;
					display: none;
					&:hover {
						background-color: #eee;
					}
				}
				.categories--hide {
					display: none !important; 
				}
				&:hover {
					background-color: transparent;
					border-radius: 0;
				}
			}
			.material-symbols-outlined {
				&:hover {
					background-color: transparent;
				}
			}
		}
		.category-info {
			width: calc(100% - 0.25rem);
			display: flex;
			align-items: center;
			border-radius: 0.3125rem;
			.category-info__color {
				display: inline-block;
				width: 0.625rem;
				height: 0.625rem;
				border-radius: 50%;
				margin-left: 0.4375rem;
				margin-right: 0.75rem;
				pointer-events: none;
			}
			.category-info__title {
				font-size: 0.95rem;
				line-height: 1.0625rem;
				pointer-events: none;
			}
			.category-info__count {
				font-size: 0.8125rem;
				color: #aaa;
				margin-left: auto;
				margin-right: 1.25rem;
				pointer-events: none;
			}
			.category-info__more {
				position: absolute;
				right: 1rem;
				font-weight: bold;
				padding: 0;
				display: none;
			}
			&:hover {
				background-color: #eee;
				.category-info__count {
					display: none;
				}
				.category-info__more {
					display: block;
				}
			}
		}
		.main-tabs {
			width: 98%;
			border-radius: 0.3125rem;
			div {
				pointer-events: none;
			}
			&:hover {
				background-color: #eee;
			}
		}
	}
	.current-tab {
		background-color: #eee;
	}
	&:hover {
		ul li .categories .categories__add {
			display: block;
		}
	}
}

.sidebar::-webkit-scrollbar { /* WebKit */
	width: 0;
	height: 0;
}