$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI",
Roboto, Apple Color Emoji, Helvetica, Arial, Oxygen-Sans, Ubuntu, Cantarell,
"Helvetica Neue", sans-serif;
$primary-color: #0284c7;
$secondary-color: #e0f2fe;

@use 'navbar';
@use 'sidebar';
@use 'colorForm';
@use 'slider';
@use 'todoForm';
@use 'priority';
@use 'tag';
@use 'dateForm';
@use 'timePicker';
@use 'customCheckbox';

@mixin flex() {
  display: flex;
	justify-content: space-between;
	align-items: center;
}

.material-symbols-outlined {
	color: #fff;
	padding: 0.2rem;
	cursor: pointer;
	user-select: none;
	&:hover {
		background-color: #0369a1;
		border-radius: 0.25rem;
	}
}

.main-content {
	@include flex;
	justify-content: flex-start;
	font-family: $font-stack;
}

.route {
	margin-left: 17rem;
	width: 100%;	
}

.page-block {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgb(#000, 0.5);
}

.tag-blocker {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	cursor: default;
	display: none;
}

.tag-blocker--show {
	display: block;
}