$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI",
Roboto, Oxygen-Sans, Ubuntu, Cantarell,
"Helvetica Neue", sans-serif;
$primary-color: #0284c7;
$secondary-color: #e0f2fe;

@use 'navbar';
@use 'sidebar';

@mixin flex() {
  display: flex;
	justify-content: space-between;
	align-items: center;
}

.material-symbols-outlined {
	color: #fff;
	padding: 0.2rem;
	cursor: pointer;
	user-select: none;
	&:hover {
		background-color: #0369a1;
		border-radius: 0.25rem;
	}
}

.main-content {
	@include flex;
	justify-content: flex-start;
}